
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Header */
.navbar {
  background: #2c3e50;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

.navbar-default .navbar-brand{
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}

.navbar-default .navbar-nav > li > a{
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
}

.navbar-header {
  padding-left: 90px;
}

.navbar-collapse {
  padding-right: 90px;
}

.navbar-brand,
.navbar-nav > li > a {
  line-height: 50px;
}


/* Start */
.start{
  background: #1abc9c;
  color: #fff;
}

.start img {
  width: 20%;
  margin-top: 50px;
}

.start h1 {
  font-size: 60px;
  margin: 20px 0;
}

.start i {
  font-size: 30px;
  margin-bottom: 20px;
}

.start p {
  font-size: 25px;
  margin-bottom: 50px;
}

/* Portfolio */
.portfolio {
  margin-bottom: 50px;
}

.portfolio h2 {
  background: #fff;
  margin: 65px 0 20px 0;
  font-weight: 700;
  font-size: 40px;
  color: #2c3e50;
}

.portfolio i {
  font-size: 30px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.box4 img{
  width: 330px;
  height: 230px;
  margin: 15px auto;
  border-radius: 5px;
  background: #1d83c1;
}

/* About */
.about {
  background: #1abc9c;
  height: 300px;
}

.box5 {
  height: 40px;
  background: blue;
}

/* Contact */
.box6 {
  height: 400px;
  background: orange;
}

/* Footer */
footer {
  background: #2c3e50;
}
.box7 {
  height: 50px;
  background: #5d5dd5;
}

/* Copyright */
.copyright {
  background: #1a252f;
}

.box8 {
  height: 50px;
  background: #5dd5b3;
}
