
body {
  font-family: 'Lato', sans-serif;
}

/* Header */
.navbar {
  background: #2c3e50;
}

.navbar-default .navbar-brand{
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}

.navbar-default .navbar-nav > li > a{
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
}

.navbar-header {
  padding-left: 90px;
}

.navbar-collapse {
  padding-right: 90px;
}

.navbar-brand,
.navbar-nav > li > a {
  line-height: 50px;
}


/* Start */
.box2 {
  height: 200px;
  background: #1abc9c;
}

/* Portfolio */
.box3 {
  height: 40px;
  background: lightyellow;
}

.box4 {
  width: 300px;
  height: 200px;
  margin: 15px auto;
  background: #1d83c1;
}

/* About */
.about {
  background: #1abc9c;
  height: 300px;
}

.box5 {
  height: 40px;
  background: blue;
}

/* Contact */
.box6 {
  height: 400px;
  background: orange;
}

/* Footer */
footer {
  background: #2c3e50;
}
.box7 {
  height: 50px;
  background: #5d5dd5;
}

/* Copyright */
.copyright {
  background: #1a252f;
}

.box8 {
  height: 50px;
  background: #5dd5b3;
}
