.box {
  height: 40px;
  background: #2c3e50;
}

.box2 {
  height: 200px;
  background: #1abc9c;
}

.box3 {
  height: 40px;
  background: lightyellow;
}

.box4 {
  width: 300px;
  height: 200px;
  background: #1d83c1;
}

.about {
  background: #1abc9c;
  height: 300px;
}

.box5 {
  height: 40px;
  background: blue;
}

.box6 {
  height: 400px;
  background: orange;
}

footer {
  background: #2c3e50;
}
.box7 {
  height: 50px;
  background: #5d5dd5;
}

.copyright {
  background: #1a252f;
}

.box8 {
  height: 50px;
  background: #5dd5b3;
}
